@import 'values';

.restaurant-wrapper {
  max-width: 880px;
  margin: auto;


  .neighborhood-section{
    text-align: center;
    border: 10px 0px;
    margin: 30px auto;
    font-size: 16px;
    box-sizing: border-box;

    .neighborhood-list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:center;
      padding: 15px;
      box-sizing: border-box;
    }


    .hood-item{
          text-transform: capitalize;
          flex-wrap: wrap;
          flex: 0 0 auto;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 5px;
          font-weight: 900;
          text-align: center;
          cursor: pointer;

          @include tablet {
            flex-wrap: wrap;
            margin-right: 0;
            //flex: 0 0 0%;
            //padding: 0 0 20px;
          };

          @include mobile {
            flex-wrap: wrap;
            margin-right: 0;
            //flex: 1 1 100%;
            //padding: 0 0 20px;
          };

    }

    .hood-title {

      padding: 0;
      text-transform: capitalize;
    }

  }

.sticky{
}

.neighborhood-box{

  border-top: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
  background: #fff;
  padding: 5px;
  width: auto;
  height: auto;
  // top: 0;
  // position: sticky;

  h3.neighborhood-name {
    //margin-left: 10px;
    padding: 15px 15px 5px 15px;
    //background: #eee;
    font-family: $philly-serif, serif;
    text-transform: uppercase;
    //border-radius: 5px;

  }

  @include mobile{
    position: static;
  }

}



.filter-section {
  display: flex;
  align-items: center;
  margin: 45px 30px;
  font-size: 16px;
  justify-content: space-around;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
  box-shadow: 0 2px 2px rgba(black,0.4);
  box-sizing: border-box;
  //font-family: $philly-sans;

  @include tablet {
    flex-wrap: wrap;
    flex: 1 1 100%;
    //padding: 0 0 20px;
  };

  @include mobile {
    flex-wrap: wrap;
    position: static;
    justify-content: flex-start;
    display: block;
    //flex: 1 1 100%;
    //padding: 0 0 20px;
  };

  .filter-title {
    margin-right: 10px;
    padding: 0;
    text-transform: capitalize;
  }


  .filter-item {

    //flex: 0 0 auto;
    flex: 0 auto auto; //check
    margin: 5px 5px;
    padding: 5px;
    background: #fff;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    font-weight: 900;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;

    @include tablet {
      flex-wrap: wrap;
      margin-right: 0;
      //flex: 0 0 0%;
      //padding: 0 0 20px;
    };

    @include mobile {
      flex-wrap: wrap;
      margin-right: 0;
      //flex: 1 1 100%;
      //padding: 0 0 20px;
    };


    &.selected-filter {
      background: black;
      //background: $philly-gray;
      color: white;
    }

    //the clear filters item isn't nested within filter item, it's just
    //ALSO a class name (thus the & symbol)
    &.ClearFilters{
      border: none;
      background: transparent;
      font-weight: normal;
      text-decoration: underline;

    }
  }

  // .filter-item:hover{
  //
  //     background: $philly-darkgray;
  //     color: white;
  //
  //     &.ClearFilters{
  //       border: none;
  //       background: transparent;
  //       font-weight: normal;
  //       text-decoration: underline;
  //       color: black;
  //
  //     }
  //
  //     @include mobile{
  //       background: #fff;
  //       color: black;
  //     }
  //
  //     @include tablet{
  //       background: #fff;
  //       color: black;
  //     }
  //
  // }

  // .filter-item:hover{
  //   background-color: #E8E8E8;
  // }
}



.restaurant-list {


  .list-item {
    margin-bottom: 0px;
    // display: flex;
    font-family: $philly-sans;
    line-height: 1.5;
    font-size: 16px;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
    //border-bottom: 10px;
    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 30px;
    };

    .intro{

      flex-wrap: wrap;
      order: 0;
      flex: 1 1 100%;

      .intro-info{
        margin: 10px 0 15px 0;


      .r-filters {
        display: flex;
        margin: 10px 0 10px 0;
        flex-wrap: wrap;

        li {
          margin-bottom: 10px;
          display: block;
          padding: 5px 8px;
          margin-right: 10px;
          background: #eee;
          font-weight: bold;
          border-radius: 25px;
          font-size: 14px;
          flex: 0 0 auto;
          font-family: $philly-sans;

        }
      }



    .contact-info {

      margin-left: 5px;
      .address {
        text-transform: capitalize;
      }

    }

  }
}

    .r-name a {
      font-size: 24px;
      font-weight: 900;

    }



    p {
      font-family: $philly-sans;
    }

    .flex-left {
      flex: 1 1 40%;
      padding-right: 10px;
      @include tablet {
        flex: 1 1 100%;
        padding: 0 0 20px;
        order: 2;
      };
    }

    .r-text {
      padding: 20px 0 0 0 ;
      flex: 1 1 100%;

      p {
        font-family: $philly-sans;
        //font-size: 15px;
      }
    }

    .r-address {
      font-size: 15px;
      line-height: 1.4;
      color: #444;
    }

    .float-right {
      float: right;
      max-width: 100%;
      margin-left: 20px;
      margin-bottom: 10px;

      @include tablet {
        float: none;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      };

      @include mobile {
        float: none;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      };

      .img-credit {
        color: #666;
        text-align: left;
        font-size: 12px;
        flex: 1 1 100%;
      }

      .img-wrapper {

        order: 1;
        flex: 1 1 100%;

        img {
          //display: none; //THIS IS SO BAYLISS DOESN'T GET HUNGRY, PLEASE
          //COMMENT THIS OUT WHEN SHOWING TO PEOPLE, IT'S NOT A BUG!!!!
          width: 100%;
          border-radius: 5px;
          height: auto;
          //border: 4px solid white;
          @include tablet {
            border: none;
          };
        }
      }
    }




.contact-section {

  display: flex;
  padding: 10px 0px 0px 0px;
  box-sizing: border-box;
  justify-content: flex-end;
  clear: both;

  @include mobile{
    justify-content: center;
  }

  .button{
    text-transform: uppercase;
    font-weight: 500;
    //float: right;
    padding: 5px 10px;
    margin: 15px 10px;
    background: #eee;
    border-radius: 5px;

    @include mobile{
      font-weight: 750;
    }
  }





  }



.r-dishes,
.r-gofor,
.r-note, .r-text {
  strong {
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    font-size: 14px;
  }
}
}

.clear-this {
  clear: both;
}
}


}
