.restaurant-wrapper {
  max-width: 880px;
  margin: auto; }
  .restaurant-wrapper .neighborhood-section {
    text-align: center;
    border: 10px 0px;
    margin: 30px auto;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .restaurant-wrapper .neighborhood-section .neighborhood-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .restaurant-wrapper .neighborhood-section .hood-item {
      text-transform: capitalize;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
      font-weight: 900;
      text-align: center;
      cursor: pointer; }
      @media only screen and (max-width: 800px) {
        .restaurant-wrapper .neighborhood-section .hood-item {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-right: 0; } }
      @media only screen and (max-width: 480px) {
        .restaurant-wrapper .neighborhood-section .hood-item {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-right: 0; } }
    .restaurant-wrapper .neighborhood-section .hood-title {
      padding: 0;
      text-transform: capitalize; }
  .restaurant-wrapper .neighborhood-box {
    border-top: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 3px solid black;
    background: #fff;
    padding: 5px;
    width: auto;
    height: auto; }
    .restaurant-wrapper .neighborhood-box h3.neighborhood-name {
      padding: 15px 15px 5px 15px;
      font-family: "Sentinel SSm A", "Sentinel SSm B", "Sentinel SSm", "Times New Roman", serif, serif;
      text-transform: uppercase; }
    @media only screen and (max-width: 480px) {
      .restaurant-wrapper .neighborhood-box {
        position: static; } }
  .restaurant-wrapper .filter-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: 45px 30px;
    font-size: 16px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media only screen and (max-width: 800px) {
      .restaurant-wrapper .filter-section {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }
    @media only screen and (max-width: 480px) {
      .restaurant-wrapper .filter-section {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        position: static;
        -ms-flex-pack: start;
            justify-content: flex-start;
        display: block; } }
    .restaurant-wrapper .filter-section .filter-title {
      margin-right: 10px;
      padding: 0;
      text-transform: capitalize; }
    .restaurant-wrapper .filter-section .filter-item {
      -ms-flex: 0 auto auto;
          flex: 0 auto auto;
      margin: 5px 5px;
      padding: 5px;
      background: #fff;
      font-weight: 900;
      border-radius: 15px;
      text-align: center;
      cursor: pointer; }
      @media only screen and (max-width: 800px) {
        .restaurant-wrapper .filter-section .filter-item {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-right: 0; } }
      @media only screen and (max-width: 480px) {
        .restaurant-wrapper .filter-section .filter-item {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin-right: 0; } }
      .restaurant-wrapper .filter-section .filter-item.selected-filter {
        background: black;
        color: white; }
      .restaurant-wrapper .filter-section .filter-item.ClearFilters {
        border: none;
        background: transparent;
        font-weight: normal;
        text-decoration: underline; }
  .restaurant-wrapper .restaurant-list .list-item {
    margin-bottom: 0px;
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow Ssm", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 20px 0px 20px; }
    @media only screen and (max-width: 800px) {
      .restaurant-wrapper .restaurant-list .list-item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 30px; } }
    .restaurant-wrapper .restaurant-list .list-item .intro {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-order: 0;
          order: 0;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }
      .restaurant-wrapper .restaurant-list .list-item .intro .intro-info {
        margin: 10px 0 15px 0; }
        .restaurant-wrapper .restaurant-list .list-item .intro .intro-info .r-filters {
          display: -ms-flexbox;
          display: flex;
          margin: 10px 0 10px 0;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .restaurant-wrapper .restaurant-list .list-item .intro .intro-info .r-filters li {
            margin-bottom: 10px;
            display: block;
            padding: 5px 8px;
            margin-right: 10px;
            background: #eee;
            font-weight: bold;
            border-radius: 25px;
            font-size: 14px;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
            font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow Ssm", "Arial", sans-serif; }
        .restaurant-wrapper .restaurant-list .list-item .intro .intro-info .contact-info {
          margin-left: 5px; }
          .restaurant-wrapper .restaurant-list .list-item .intro .intro-info .contact-info .address {
            text-transform: capitalize; }
    .restaurant-wrapper .restaurant-list .list-item .r-name a {
      font-size: 24px;
      font-weight: 900; }
    .restaurant-wrapper .restaurant-list .list-item p {
      font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow Ssm", "Arial", sans-serif; }
    .restaurant-wrapper .restaurant-list .list-item .flex-left {
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
      padding-right: 10px; }
      @media only screen and (max-width: 800px) {
        .restaurant-wrapper .restaurant-list .list-item .flex-left {
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
          padding: 0 0 20px;
          -ms-flex-order: 2;
              order: 2; } }
    .restaurant-wrapper .restaurant-list .list-item .r-text {
      padding: 20px 0 0 0;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }
      .restaurant-wrapper .restaurant-list .list-item .r-text p {
        font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Gotham Narrow Ssm", "Arial", sans-serif; }
    .restaurant-wrapper .restaurant-list .list-item .r-address {
      font-size: 15px;
      line-height: 1.4;
      color: #444; }
    .restaurant-wrapper .restaurant-list .list-item .float-right {
      float: right;
      max-width: 66%;
      margin-left: 20px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 800px) {
        .restaurant-wrapper .restaurant-list .list-item .float-right {
          float: none;
          max-width: 100%;
          margin-left: 0;
          margin-bottom: 10px; } }
      @media only screen and (max-width: 480px) {
        .restaurant-wrapper .restaurant-list .list-item .float-right {
          float: none;
          max-width: 100%;
          margin-left: 0;
          margin-bottom: 10px; } }
      .restaurant-wrapper .restaurant-list .list-item .float-right .img-credit {
        color: #666;
        text-align: left;
        font-size: 12px;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
      .restaurant-wrapper .restaurant-list .list-item .float-right .img-wrapper {
        -ms-flex-order: 1;
            order: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
        .restaurant-wrapper .restaurant-list .list-item .float-right .img-wrapper img {
          width: 100%;
          border-radius: 5px;
          height: auto; }
          @media only screen and (max-width: 800px) {
            .restaurant-wrapper .restaurant-list .list-item .float-right .img-wrapper img {
              border: none; } }
    .restaurant-wrapper .restaurant-list .list-item .contact-section {
      display: -ms-flexbox;
      display: flex;
      padding: 10px 0px 0px 0px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -ms-flex-pack: end;
          justify-content: flex-end;
      clear: both; }
      @media only screen and (max-width: 480px) {
        .restaurant-wrapper .restaurant-list .list-item .contact-section {
          -ms-flex-pack: center;
              justify-content: center; } }
      .restaurant-wrapper .restaurant-list .list-item .contact-section .button {
        text-transform: uppercase;
        font-weight: 500;
        padding: 5px 10px;
        margin: 15px 10px;
        background: #eee;
        border-radius: 5px; }
        @media only screen and (max-width: 480px) {
          .restaurant-wrapper .restaurant-list .list-item .contact-section .button {
            font-weight: 750; } }
    .restaurant-wrapper .restaurant-list .list-item .r-dishes strong,
    .restaurant-wrapper .restaurant-list .list-item .r-gofor strong,
    .restaurant-wrapper .restaurant-list .list-item .r-note strong, .restaurant-wrapper .restaurant-list .list-item .r-text strong {
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      font-size: 14px; }
  .restaurant-wrapper .restaurant-list .clear-this {
    clear: both; }
